* {
    padding: 0; /* сбросить края у штук */
    margin: 0;  /* сбросить края у штук */
}

body {
    font-family: sans-serif; /* шрифт */
    background-color: rgb(50, 50, 50);
}

/* Сделать всю основу посередине */
.main-content {
    width: 500px; /* ширина */
    position: absolute; /* оторвать со статики, чтобы оно было поверх */
    top: 50%; /* местоположение контента */
    left: 50%; /* местоположение контента */
    transform: translateX(-50%) translateY(-50%);   /* передвигает */
    box-shadow: 0 50px 100px rgba(255, 0, 0, 0.19);  /* тень */
    
}

/* Сам текстовый редактор */
.text-editor-header {
    background-color: #ff7070; /* цвет задника(заднего фона)  */
    padding: 5px; /* у сторон отступы 5 пикселей */

}


/* Даём стили кнопкам тект.редактора */
.text-editor-header .btn {
    border: none; /* Долой границы элемента */
    outline: none; /* аналогично почти */
    background-color: #ff7070; /* прозрачный фон */
    margin-right: 5px; /* внешний отступ вправо */
    cursor: pointer;    /* чтобы менялся курсор */
}

/* Содержимое */
.content {
    min-height: 200px;  /* изначально строка - минимум 200 пикселей */
    border: 1px solid rgb(50, 50, 50);  /* добавление границы */
    border-top: 0px;  /* убираем границу сверху */
    padding: 20px;    /* внутренний отступ */
    color: rgb(255, 255, 255);
}